body {
    background-image: url(pattern.png);
}

.main{
    margin: 10%;
    margin-right: 20%;
    text-align: center;
}

.topbar{
    margin-left: auto; 
    margin-top: 2%;
    margin-right: 5%;
    float: top;
    align-self: top;
    align-items: right;
    display: flex;
    justify-content: flex-end;
}
.navigation{
    margin-left: 5%; 
    margin-top: 0%;
    margin-right: auto;
    float: top;
    align-self: top;
    align-items: left;
    display: flex;
    justify-content: flex-end;
}
.headline{
    margin: 10%;
    margin-right: 20%;
}
td {
    text-align: left;
}
table input {
    width: 90%;
}
table textarea {
    width: 90%;
    height: 150px;
    resize: none;
}
.datatable td {
    border-bottom: 1px solid #000000;
}
.datatable tr {
    background-color: #ffffff;
}
.datatable tr:nth-child(even) {
    background-color: #adadad;
}
.datatable tr:hover {
    background-color: #041cf1d0;
}
